global_defs {
  router_id nginx
}

vrrp_script check_nginx {
  script "pidof nginx"
  interval 2
  weight 50
}

vrrp_instance VI_01 {
  state MASTER
  interface ens160
  virtual_router_id 151
  priority 110

unicast_src_ip {{ master }}
    unicast_peer {
        {{ slave }}
   }
  virtual_ipaddress {
    {{ vip }}
  }
  track_script {
    check_nginx
  }
  authentication {
    auth_type PASS
    auth_pass secret
  }
}
